<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script>
    window.onload = function () {

      var sse = new EventSource('/time');
      sse.onmessage = function (event) {
        console.log(event.data);
        if (event.data == 0) {
          var vote = document.getElementById("voting");
          var script = "<a href = '/vote'>投票ページに移動する</a>";
          vote.innerHTML = script;
        }
        document.getElementById("timer").textContent = event.data + "秒";
      }
    }
  </script>
  <title>人狼</title>
</head>

<body>
  <style>
    #timer {
      position: absolute;
      top: 70px;
      left: 100px;
      font-size: 70px;
    }
  </style>
  <div>
    <h1><a href='/role'>役職を表示する</a></h1>
  </div>
  <div th:if="${rolename eq '平民'}">
    あなたは「平民」です
  </div>
  <div th:if="${rolename eq '人狼'}">
    あなたは「人狼」です
  </div>
  <div th:if="${rolename eq '占い師'}">
    あなたは「占い師」です
  </div>
  <div th:if="${rolename eq '霊媒師'}">
    あなたは「霊媒師」です
  </div>
  <div th:if="${rolename eq '騎士'}">
    あなたは「騎士」です
  </div>
  <div th:if="${rolename eq '狂人'}">
    あなたは「狂人」です
  </div>

  <p id="timer"></p>
  <p id="voting"></p>

</body>

</html>
