<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script>
    window.onload = function () {

      var sse = new EventSource('/time');
      sse.onmessage = function (event) {
        console.log(event.data);
        if (event.data == 0) {
          var vote = document.getElementById("voting");
          var script = "<a href = '/vote'><h2>投票ページに移動する</h2></a>";
          vote.innerHTML = script;
        }
        document.getElementById("timer").textContent = event.data + "秒";
      }
    }
  </script>
</head>

<body>
  <style>
    #timer {
      position: absolute;
      top: 170px;
      left: 100px;
      font-size: 70px;
    }
  </style>

  <div th:if="${hwin}">
    <h1>市民陣営の勝ちです!!!</br></h1>
    <a href="/logout">ログアウト</a></br>
  </div>
  <div th:if="${jwin}">
    <h1>人狼陣営の勝ちです!!!</br></h1>
    <a href="/logout">ログアウト</a></br>
  </div>
  <div th:if="${continue}">
    決着がつかなかったので議論を始めてください</br>
    <div th:if="${deathuser eq 1}">
      <h2>あなたは投票によって吊るされました。</br></h2>
      ログアウトして下さい。</br>
      <a href="/logout">ログアウト</a>
    </div>
    <div th:if="${deathuser eq 2}">
      <div th:if="${rolename}">
        <h2>あなたは [[${username}]]「[[${rolename}]]」です</h2>
        <div th:if="${werewolf}">
          もう一人の人狼は[[${werewolf}]]です。
        </div>
      </div>
      <p id="timer"></p>
      <p id="voting"></p>

    </div>
  </div>
</body>

</html>
