<!DOCTYPE html>
<html>

<style>
  h1 {
    text-align: center;
  }

  #start {
    text-align: center;
  }
</style>

<head>
  <meta charset="utf-8">
  <title>人狼</title>
  <script>
    setTimeout("location.reload()",5000);
    window.onload = function () {
      var sse = new EventSource('/start');
      sse.onmessage = function (event) {
        var start = document.getElementById("start");
        var s = "<a href='/game'>ゲームスタート</a>";
        start.innerHTML = s;
      }
    }
  </script>
</head>

<body>
  <a href="/logout">🚪ログアウト🚪</a>
  <h1>ようこそ、人狼の世界へ</h1>
  <div th:if="${room}">
    <ul>
      今[[${room.users.size()}]]人がエントリーしています</br>
      エントリーユーザー
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>
  <div>人数が揃ったらゲームスタートを押してください</div><br />
  <div id=start></div>
  <div></br></br></div>
  <div align="center">参加人数に対する役職</div>
  <table border="1" align="center">
    <tr>
      <th>人数|役職</th>
      <th>人狼</th>
      <th>占い師</th>
      <th>騎士</th>
      <th>霊媒師</th>
      <th>平民</th>
      <th>狂人</th>
    </tr>
    <tr>
      <th>5</th>
      <th>1</th>
      <th>1</th>
      <th>1</th>
      <th></th>
      <th>2</th>
      <th></th>
    </tr>
    <tr>
      <th>6</th>
      <th>2</th>
      <th>1</th>
      <th>1</th>
      <th></th>
      <th>2</th>
      <th></th>
    </tr>
    <tr>
      <th>7</th>
      <th>2</th>
      <th>1</th>
      <th>1</th>
      <th>1</th>
      <th>2</th>
      <th></th>
    </tr>
    <tr>
      <th>8</th>
      <th>2</th>
      <th>1</th>
      <th>1</th>
      <th>1</th>
      <th>3</th>
      <th></th>
    </tr>
    <tr>
      <th>9</th>
      <th>2</th>
      <th>1</th>
      <th>1</th>
      <th>1</th>
      <th>3</th>
      <th>1</th>
    </tr>
    <tr>
      <th>10</th>
      <th>2</th>
      <th>1</th>
      <th>1</th>
      <th>1</th>
      <th>4</th>
      <th>1</th>
    </tr>
  </table>
</body>

</html>
