<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>人狼</title>
  <script>
    setTimeout("location.reload()",5000);
    window.onload = function () {
      var sse = new EventSource('/start');
      sse.onmessage = function (event) {
        console.log(event.data);
        var start = document.getElementById("start");
        var s = "<a href='/game'>ゲームスタート</a>";
        start.innerHTML = s;
      }
    }
  </script>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>ようこそ、人狼の世界へ</h1>
  <div th:if="${room}">
    <ul>
      今[[${room.users.size()}]]人がエントリーしています</br>
      エントリーユーザー
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>
  <!-- <div th:if="${room.users.size() &gt;= 2}">
    <a href='/game'>ゲームスタート</a>-->
  </div>
  <div id=start></div>
</body>

</html>
