<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script>
    window.onload = function () {
      while (true) {
        var sse = new EventSource('/voteresult');
        sse.onmessage = function (event) {
          var vote = document.getElementById("voting");
          var r;
          if (event.data == 0) {
            r = "<a href='/voting'>投票結果を表示する</a >";
          } else if (event.data == 1) {
            r = "<a href='/revoting'>再投票結果を表示する</a >";
          }
          voting.innerHTML = r;
        }
        break;
      }
    }
  </script>
</head>

<body>
  <h1>投票の時間です
    </br>
  </h1>
  <div>
    怪しいと思った人に投票してください</br>
    投票後は全員が投票を終えるまでお待ちください
  </div>
  <h1>
    <p id=voting></p>
  </h1>

  <h2>
    <p th:if="${voted}">
      投票により[[${voted}]]が選ばれました。</br>
      <a href="/night">
        夜に移行する
      </a>
    </p>
  </h2>

  <h2>
    <p th:if="${revote}">
      投票数が同票だったため、再投票を行います。
    </p>
  </h2>

  <h2>
    <p th:if="${endvote}">
      再投票数も同票だったため、この昼はだれも選ばれませんでした。</br>
      <a href="/night">
        夜に移行する
      </a>
    </p>
  </h2>


  <p th:if="${user1}">
    <a href="/vote/1">[[${user1}]]</a>
  </p>
  <p th:if="${user2}">
    <a href="/vote/2">[[${user2}]]</a>
  </p>
  <p th:if="${user3}">
    <a href="/vote/3">[[${user3}]]</a>
  </p>
  <p th:if="${user4}">
    <a href="/vote/4">[[${user4}]]</a>
  </p>
  <p th:if="${user5}">
    <a href="/vote/5">[[${user5}]]</a>
  </p>
  <p th:if="${user6}">
    <a href="/vote/6">[[${user6}]]</a>
  </p>
  <p th:if="${user7}">
    <a href="/vote/7">[[${user7}]]</a>
  </p>
  <p th:if="${user8}">
    <a href="/vote/8">[[${user8}]]</a>
  </p>
  <p th:if="${user9}">
    <a href="/vote/9">[[${user9}]]</a>
  </p>
  <p th:if="${user10}">
    <a href="/vote/10">[[${user10}]]</a>
  </p>

</body>

</html>
