<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
</head>

<body>
  <h1>
    <a href="/voting">
      投票結果を表示する
    </a>
  </h1>

  <h1>
    <a href="/revoting">
      再投票結果を表示する
    </a>
  </h1>

  <h2>
    <p th:if="${death}">
      投票により[[${death}]]が選ばれました。</br>
      <a href="/night">
        夜に移行する
      </a>
    </p>
  </h2>

  <h2>
    <p th:if="${revote}">
      投票数が同票だったため、再投票を行います。
    </p>
  </h2>

  <h2>
    <p th:if="${endvote}">
      再投票数も同票だったため、この昼はだれも選ばれませんでした。</br>
      <a href="/night">
        夜に移行する
      </a>
    </p>
  </h2>


  <p th:if="${user1}">
    <a href="/user1">[[${user1}]]</a>
  </p>
  <p th:if="${user2}">
    <a href="/user2">[[${user2}]]</a>
  </p>
  <p th:if="${user3}">
    <a href="/user3">[[${user3}]]</a>
  </p>
  <p th:if="${user4}">
    <a href="/user4">[[${user4}]]</a>
  </p>
  <p th:if="${user5}">
    <a href="/user5">[[${user5}]]</a>
  </p>
  <p th:if="${user6}">
    <a href="/user6">[[${user6}]]</a>
  </p>
  <p th:if="${user7}">
    <a href="/user7">[[${user7}]]</a>
  </p>
  <p th:if="${user8}">
    <a href="/user8">[[${user8}]]</a>
  </p>
  <p th:if="${user9}">
    <a href="/user9">[[${user9}]]</a>
  </p>
  <p th:if="${user10}">
    <a href="/user10">[[${user10}]]</a>
  </p>

  <div>
    
  </div>

</body>

</html>
